body{
    background-color: #030726 ;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.container {
    max-width: 500px;
}
.header{
    width: 100%;
}